/* #heading {
    background-color: aqua;
    color: blue;
}

.heading1 {
    background-color: aquamarine;
}

button {
    background-color: aquamarine;
} */

/* .box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
} */

/* .me {
    color: yellowgreen;
}

.new {
    background-color: aquamarine;
} */